.containerPage {
   background-color: white;
   display: flex;
   flex-wrap: nowrap;
   width: 100%;
   height: 100%; /* Añadido para que ocupe todo el espacio disponible */
   overflow: hidden;
   gap: 1rem;
   & > div {
      max-width: 50%;
   }
}

@media screen and (width<480px) {
   .containerPage {
      flex-direction: column;
      align-items: stretch;
      width: 100lvw;
      & > div {
         max-width: none;
         max-height: 50%;
      }
   }
}
