:root {
   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
   line-height: 1.5;
   font-weight: 400;
   --first-background: hsl(0, 0%, 100%);
   --gray-200: #e2e8f0;
   color: rgba(255, 255, 255, 0.87);
   background-color: var(--first-background);

   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
[theme-data='light'] {
   --first-background: hsl(0, 0%, 100%);
   --gray-200: #e2e8f0;
}
[theme-data='dark'] {
   --first-background: #242424;
   --gray-200: hsl(214, 32%, 20%);
}
body {
   margin: 0px;
   min-width: 200px;
   height: 100svh;
}

h1 {
   font-size: 3.2em;
   line-height: 1.1;
}
#root {
   /* background-color: green; */
   height: 100%;
   opacity: 0.7;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
}
